@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap");


/* Global Style Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*  Variable Scope */
:root {
  --white-color: rgba(223, 221, 221, 1);
  --opaque-color: #fff;
  --black-color: rgba(23, 23, 23, 1);
  --opaque-black: rgba(32, 32, 32, 1);
  --background-color: #1e1e1e;
  --blueish-color: rgb(36, 36, 100);
  --golden-color: rgba(210, 173, 18, 1);
}

/*  Body Styling */
body,
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  background-color: var(--blueish-color);
  overflow-x: hidden;
}


/*  Core Styling */
#container {
  padding: 1rem 1.3rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 370px;
  background-color: var(--background-color);
  color: var(--opaque-color);
  border: 2px solid gray;
  z-index: 99;
  box-shadow: -16px 20px 22px -7px rgba(255, 255, 255, 0.2);
}

#fish-image img {
  width: 100%;
  border-radius: 5px;
}

#fish-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--golden-color);
  padding: 2rem;
}

#fish-bio-data .fish-description {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: justify;
  font-style: italic;
}

#fish-bio-data .fish {
  padding-left: 2rem;
  font-weight: bold;
}

#fish-bio-data .fish span {
  font-weight: normal;
}

#fish-bio-data #fishy-description {
  padding: 2rem;
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 2rem;
}
